<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
    <script src="../static/js/jquery.min.js" type="text/javascript" charset="UTF-8"></script>
    <style>
    h1{
        color: #c7254e;
    }
    </style>

</head>
<body>

        <div class="class">
            <h1>这个是登录页面!!</h1>
            <br>
            <br>
        <form action="/user/login" method="post">
            {{/* 用户名*/}}
        <div class="form-group has-success has-feedback col-xs-5">
            <label class="control-label" >用户名称</label>
            <input type="text" class="form-control"id="username" name="username" placeholder="请输入你的账号！">

        </div>
            {{/*密码*/}}
            <div class="form-group has-success has-feedback col-xs-4">
                <label class="control-label" >用户密码</label>
                <input type="password" class="form-control"  id="password" name="password" placeholder="请输入你的密码！">
            </div>
            <br>
            <button type="submit" class="btn btn-info">登录</button>

    </form>
        </div>
</body>
</html>